
@{
    ViewBag.Title = "Registrar Contacto";    
}

<h2>Registrar Contacto</h2>
<fieldset class="container">
    <form id="FrmContacto" method="post">
        <div class="row-cols-1">
            <div class="col-12">
               
                <div>
                    <label>Apellido Materno</label>
                    <input type="text" class="form-control" id="Apellido_Materno" value="" />
                </div>
                <div>
                    <label>Average Time Spent Minutes</label>
                    <input type="text" class="form-control" id="Average_Time_Spent_Minutes" value="" />
                </div>
               
                <div>
                    <label>Ciudad de Correspondencia</label>
                    <input type="text" class="form-control" id="Ciudad_de_correspondencia" value="" />
                </div>
                <div>
                    <label>Codigo de Pais</label>
                    <input type="text" class="form-control" id="Codigo_de_Pais" value="" />
                </div>
                <div>
                    <label>codigo sincronizacion</label>
                    <input type="text" class="form-control" id="codigo_sincronizacion" value="" />
                </div>
                <div>
                    <label>colonia para correspondencia</label>
                    <input type="text" class="form-control" id="colonia_para_correspondencia" value="" />
                </div>
                <div>
                    <label>Cuenta con Metodo de Pago Comprobable</label>
                    <input type="text" class="form-control" id="Cuenta_con_Metodo_de_Pago_Comprobable" value="" />
                </div>
                <div>
                    <label>CURP</label>
                    <input type="text" class="form-control" id="CURP" value="" />
                </div>
                <div>
                    <label>Currency</label>
                    <input type="text" class="form-control" id="Currency" value="" />
                </div>
                <div>
                    <label>Date of Birth</label>
                    <input type="text" class="form-control" id="Date_of_Birth" value="" />
                </div>
                <div>
                    <label>Days Visited</label>
                    <input type="text" class="form-control" id="Days_Visited" value="" />
                </div>
                <div>
                    <label>Department</label>
                    <input type="text" class="form-control" id="Department" value="" />
                </div>
                <div>
                    <label>Description</label>
                    <input type="text" class="form-control" id="Description" value="" />
                </div>
                <div>
                    <label>Domicilio para recibir notificaciones</label>
                    <input type="text" class="form-control" id="Domicilio_para_recibir_notificaciones" value="" />
                </div>
                <div>
                    <label>Duplicidad localizada en</label>
                    <input type="text" class="form-control" id="Duplicidad_localizada_en" value="" />
                </div>
                <div>
                    <label>Edad</label>
                    <input type="text" class="form-control" id="Edad" value="" />
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" class="form-control" id="Email" value="" />
                </div>
                <div>
                    <label>Email Opt Out</label>
                    <input type="text" class="form-control" id="Email_Opt_Out" value="" />
                </div>
                <div>
                    <label>Estado Civil</label>
                    <input type="text" class="form-control" id="Estado_Civil" value="" />
                </div>                
                <div>
                    <label>Exchange Rate</label>
                    <input type="text" class="form-control" id="Exchange_Rate" value="" />
                </div>

                <div>
                    <label>Fax</label>
                    <input type="text" class="form-control" id="Fax" value="" />
                </div>
                <div>
                    <label>First Name</label>
                    <input type="text" class="form-control" id="First_Name" value="" />
                </div>
                <div>
                    <label>First Visited Time</label>
                    <input type="text" class="form-control" id="First_Visited_Time" value="" />
                </div>
                <div>
                    <label>First Visited URL</label>
                    <input type="text" class="form-control" id="First_Visited_URL" value="" />
                </div>
                <div>
                    <label>Full Name</label>
                    <input type="text" class="form-control" id="Full_Name" value="" />
                </div>
                
                <div>
                    <label>Home Phone</label>
                    <input type="text" class="form-control" id="Home_Phone" value="" />
                </div>
                <div>
                    <label>ID de Expediente</label>
                    <input type="text" class="form-control" id="ID_de_Expediente" value="" />
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="Last_Name" value="" />
                </div>
                <div>
                    <label>Last Visited Time</label>
                    <input type="text" class="form-control" id="Last_Visited_Time" value="" />
                </div>
                
            </div>
        </div>
    </form>
    <button class="button btn-primary" onclick="GuardarContacto()">Guardar</button>
    <button class="button btn-danger" onclick="Cancelar()">Cancelar</button>
</fieldset>

